table{
    border-collapse: collapse;
}
.title, .table-title{
    font-weight: bold;
}
.table-title{
    font-size: 1.5em;
}
.alert-status{
    margin: 2% 0;
}
.comment, .post-content{
    max-width: 100%;
    min-width: 100%;
}
.navbar--blue{
    background-color: #428bca;
}
.navbar-item--customized{
    color: #cdddeb !important;
}
.navbar-item--customized:hover{
    color: #fff !important;
}